body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    background: rgb(247, 247, 252);
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    box-sizing: border-box;
    color: #495057;
    display: flex;
    flex-direction: column;
    font-family: Arial;
    font-size: 13px;
    min-height: 100vh;
    min-width: 0px;
    overflow: hidden;
    transition: margin-left 0.35s ease-in-out 0s, left 0.35s ease-in-out 0s, margin-right 0.35s ease-in-out 0s, right 0.35s ease-in-out 0s;
    width: 100%;
}

.col-4 {
    width: 25%;
}

.offset-4 {
    margin-left: 33.33%;
}

.table {
    --bs-table-accent-bg: transparent;
    --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-active-color: #495057;
    --bs-table-bg: transparent;
    --bs-table-hover-bg: rgba(0, 0, 0, 0.0375);
    --bs-table-hover-color: #495057;
    --bs-table-striped-bg: #f8f9fa;
    --bs-table-striped-color: #495057;
    border-collapse: collapse;
    border-color: rgb(222, 226, 230);
    border-spacing: 0px;
    caption-side: bottom;
    color: #495057;
    margin-bottom: 1rem;
    overflow-x: auto;
    padding-left: 6px;
    vertical-align: top;
    width: 482px;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.font-weight-bold {
    font-weight: bold;
}

.centeralign {
    text-align: center;
}
