body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: rgb(247, 247, 252);
    color: #495057;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form-container {
    max-width: 500px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container img {
    max-width: 100%;
}

input.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    margin-bottom: 10px;
}

.text-right {
    text-align: right;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; /* Remove any default margin */
}
.center-align {
    text-align: center;
}

#captchaContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#captchaContainer img {
    width: 150px; /* Adjust size as needed */
    height: auto;
}


.submit-btn {
    background-color: #3d85c6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    text-decoration: none;
}
